asgiref==3.2.10
certifi==2021.5.30
chardet==4.0.0
Django==3.1
django-admin-thumbnails==0.2.6
idna==2.10
Pillow==8.2.0
pkg-resources==0.0.0
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.5
